<h1>Pages#contact</h1>

<p><%= number_to_phone "5566448822" %></p>

<p><%= number_to_currency "153450" %></p>

<p><%= number_to_percentage "12.4" %></p>

<p><%= number_with_delimiter "134432424322341231" %></p>
